.community-wrapper{
    padding: 20px;
}

table {
    width: 100%;
}

th{
    font-size: 18px;
    color: black;
}

td{
    font-size: 16px;
}
  
h1{
    color: black;
}

.heading > hr{
    border-color: black;
}

.mt-10{
    margin-top: 10px;
}
.ml-10{
    margin-left: 10px;
}

.pds-20{
    padding: 0 20px;
}