<div class="container-fluid community-wrapper">
  <h3>List of Patients</h3>
  <div class="container list">
    <table class="table table-hover table-bordered">
      <thead>
        <tr style="color: green">
          <th scope="col">First Name ( الاسم الاول )</th>
          <th scope="col">Last Name ( الكنية )</th>
          <th scope="col">Date of Birth ( تاريخ الولادة )</th>
          <th scope="col">Date of Last Visit ( تاريخ الزيارة الأخيرة )</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patientList of patientList">
          <td>{{patientList.fname}}</td>
          <td>{{patientList.lname}}</td>
          <td>{{patientList.dob | date: 'dd/MM/yyyy'}}</td>
          <td>{{patientList.last_interaction | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>