<div class="container-fluid community-wrapper">
  <h3>List of Patients</h3>
  <div class="container list">
    <table class="table table-hover table-bordered">
      <thead>
        <tr style="color: green">
          <th scope="col">First Name ( الاسم الاول )</th>
          <th scope="col">Last Name ( الكنية )</th>
          <th scope="col">Date of Birth ( تاريخ الولادة )</th>
          <th scope="col">Date of Last Visit ( تاريخ الزيارة الأخيرة )</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ayman ( ايمن )</td>
          <td>L. ( ل )</td>
          <td>08-08-1965</td>
          <td>13-03-2018</td>
        </tr>
        <tr>
          <td>Salma سلمى</td>
          <td>L. ( ل )</td>
          <td>08-08-1965</td>
          <td>14-04-2018</td>
        </tr>
        <tr>
          <td>Samer سامر</td>
          <td>S. ( س )</td>
          <td>03-10-1988</td>
          <td>18-03-2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>