.community-wrapper{
    padding: 20px;
}

.table {
    /* border-style: ridge; */
    margin: 40px 0;
    background-color: white;
    width: 100%;
    box-shadow: 15px 15px #DEDEDE;
}

h1{
    color: black;
}

.heading > hr{
    border-color: black;
}