<div class="pass-wrapper">
  <h3 mat-dialog-title>Change Password</h3>
  <form [formGroup]="passwordForm">
    <div class="pass-wrapper" mat-dialog-content>
      <mat-form-field>
        <input matInput type="password" placeholder="Enter your Old Password" formControlName="old_password">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Enter New Password" formControlName="password">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSubmit(passwordForm.value)">Submit</button>
    </div>
  </form>
</div>