<div class="side-nav">
  <img src="../../../../assets/images/logo_amcl.png" class="logo" alt="">
  <div class="nav-body">
    <ul class="sidebar navbar-nav">
      <li>
        <a class="nav-link" routerLink='/community' routerLinkActive="active">
          <i class="fa fa-search fa-lg" aria-hidden="true"></i>
          <span class="label">Your Patients ( مرضاك )
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink='//add_patient' routerLinkActive="active">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          <span class="label">Register Patient
            <p style="margin: 0 0 0 43px;">(تسجيل مريض جديد)</p>
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink='/review_list' routerLinkActive="active">
          <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
          <span class="label">Run a Review ( مراجعة )
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink='/tools' routerLinkActive="active">
          <i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
          <span class="label">Tools
            <p style="margin: 0 0 0 43px;">( أدوات المعلومات الطبية )</p>
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink='/account' routerLinkActive="active">
          <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
          <span class="label">Account ( حسابات )</span>
        </a>
      </li>
      <li>
        <a class="nav-link logout" (click)="logOut()">
          <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
          <span class="label">Log Out ( الخروج )</span>
        </a>
      </li>
    </ul>
  </div>
</div>