.review-wrapper{
    justify-content: center;
    display: flex;
    padding: 45px;
}

table{
    width:90%;
    padding: 20px;
}

.list {
    width: 90% !important;
    display: inline-block !important;
}

th{
    font-size: 30px;
    padding: 10px 0 10px 20px !important;
    color: black;
}

td{
    padding: 0 !important;
}

.mat-nav-list{
    padding: 5px;
}

.mat-nav-list > a{
    padding-inline-start: 20px;
}

.mat-row:nth-child(even){
    background-color:#DEDEDE;
}