.review-wrapper{
    /* justify-content: center; */
    /* display: flex; */
    padding: 45px;
}

table{
    width:-webkit-fill-available;
    padding: 20px;
}

th{
    font-size: 30px;
    padding: 10px 0 10px 20px !important;
    color: black;
}

td{
    padding: 0 !important;
}

.list {
    width: 90% !important;
    display: inline-block !important;
}

.mat-nav-list{
    padding: 5px;
}

.mat-nav-list > a{
    padding-inline-start: 20px;
}

.mat-row:nth-child(even){
    background-color:#DEDEDE;
}
.mt-10{
    margin-top: 10px;
}
.ml-10{
    margin-left: 10px;
}