<div class="review-wrapper">
  <form [formGroup]="InitialForm">
    <div class="col-md-12 row">
      <div class="col-md-6">
        <h3 class="title">Initiate a review :</h3>
        <mat-radio-group formControlName="review" (change)="getReviewForm()">
          <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6">
        <h3 class="title">Medical history :</h3>
        <mat-radio-group formControlName="history">
          <mat-radio-button value="emr">EMR</mat-radio-button>&nbsp;
          <mat-radio-button value="manual">Manual</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>

  <div class="review-block" *ngIf="initiatReview">
    <form [formGroup]="patientForm">
      <div class="review col-md-12">
        <label>Is the patient present :</label>
        <mat-radio-group formControlName="present">
          <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="card-body">
        <div class="row" style="margin:0px;">
          <div class="col-md-9 register-body">
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="input">
                  <input matInput placeholder="Full Name (الاسم الكامل" formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date of Birth ( تاريخ الولادة:)"
                    formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Weight(وزن) [Kg]" formControlName="weight">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Height( ارتفاع) [m]" formControlName="height">
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <!-- <mat-form-field>
              <input matInput placeholder="Mailing Address" formControlName="mailing_address">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Billing Address" formControlName="biling_address">
            </mat-form-field> -->
          </div>
          <div class="col-md-3">
            <div class="profile-block col-md-10">
              <img [src]="imgURL" id="profile" class="patient-img">
              <div class="image">
                <input class="profilePic" type="file" name="pic" accept="image/*" formControlName="profileImg"
                  (change)=newProfile($event)>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="register-body">
        <h5>Patient Medical Information</h5>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Pre-existing Conditions" formControlName="pre_existing_conditions"
                (ngModelChange)="onselectIndication()" multiple>
                <mat-option *ngFor="let indication of indicationList" [value]="indication._id">
                  {{indication.indication}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Medication history (التاريخ الطبي)" formControlName="medication_history"
                multiple>
                <mat-option *ngFor="let med of drugList" [value]="med._id">
                  (Ndc: {{med.ndc}}) {{med.brand_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <mat-select placeholder="Alergies (حساسية)" formControlName="allergies">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput placeholder="Supplements" formControlName="supplements">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <mat-select placeholder="Caffeine" formControlName="caffeine">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <mat-select placeholder="Alcohol" formControlName="alcohol">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="register-body">
        <h5>Genetic CYP Test Result (علامة وراثية) & Self Reported Concerns (التعليقات الطبية المبلغ عنها)</h5>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="CYP test" formControlName="cyp_test">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="Insomnia (الأرق)" formControlName="insomnia">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="Weight Loss (فقدان الوزن)" formControlName="weight_loss">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Overactive bladder" formControlName="bladder">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Psychological, mood change (تقلب المزاج)" formControlName="mood_changes">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="register-body">
        <div class="row">
          <div class="col-md-6" style="padding: 0px 20px">
            <label style="width:100%">Adherence to Medical Regiment (الالتزام بالخطة الطبية) :</label><br>
            <label>Are you taking the drug as prescribed??&nbsp;</label>
            <mat-form-field>
              <mat-select placeholder="(هل تأخذ الدواء على النحو)" formControlName="is_precription_taken_regularly">
                <mat-option *ngFor="let opt of option" [value]="opt.value">{{opt.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" formArrayName="blood_test" style="padding:0 20px">
            <label>Blood Test</label>
            <div *ngFor="let key of blood_test.controls; let i=index">
              <div [formGroupName]="i" class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Test Results Type" formControlName="key">
                      <mat-option *ngFor="let test of bloodTest | async" [value]="test">
                        {{test.key}}[ {{test.range}} ]
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Value" formControlName="value">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <button mat-flat-button color="basic" *ngIf="bloodNum < 10" (click)="addAlias()">Add Test</button>
          </div>
          <div class="col-md-6" style="padding: 20px">
            <label>Glucose Level (مستوى السكر في الدم) :</label><br>
            Is the patient diabetic?&nbsp;
            <mat-radio-group class="smoke" formControlName="is_diabetic">
              <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;
              <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="glucose level upon walking(mmol/L)"
                  formControlName="glucose_level_upon_walking">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Before Meal(mmol/L%)" formControlName="glucose_level_before_meal">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="90 minutes after mealsmmol/L%)"
                  formControlName="glucose_level_90min_after_meal">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="review-btn">
    <button class="btn btn-primary" (click)="onUpdate(patientForm.value)" type="button">Run Review and Generate
      Report</button>
  </div>
</div>