.noIntFound{
    padding: 25px;
    color: blue;
}

.intFound{
    padding: 25px;
    color: red;    
}

mat-chip{
   color: red !important;
}

.spin{
    padding: 50px;
    justify-content: center;
    display: flex;
}

.subs{
    max-height: 400px;
    overflow: auto;
}