<div class="wrapper">
  <div class="drug-search-body col-md-5">
    <div class="search-title">
      <h4>Search for Medicine-Food Interaction</h4>
      <p> البحث عن التفاعلات بين الطعام والكحول والأدوية</p>
    </div>
    <div class="search-body">
      <div class="form-group">
        <label>Look for Medicine Name</label>
        <p>ابحث عن اسم الدواء</p>
        <input type="text" class="form-control" placeholder="Search Medicine" (keyup)="onSearch()"
          [(ngModel)]="searchInput" required>
      </div>
      <div class="form-group">
        <label>Number of Medicine to choose from (اختيار اسم الدواء)<span id="number_of_drugs"
            class="badge badge-pill badge-success">{{
                  dataLength }}</span></label>
        <mat-form-field style="display: block;">
          <mat-select placeholder="Medicine" [(ngModel)]="selectedDrug">
            <mat-option *ngFor="let data of searchData" value="{{data._id }}">( ndc: {{data.ndc}} )
              {{ data.brand_name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group search-btn">
        <button class="btn btn-success" (click)="onSearchClick()">Search (بحث)</button>
      </div>
    </div>
  </div>
  <div class="col-md-6 drug-info-div" *ngIf="searchSubmit">
    <mat-accordion>

      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header style="background-color:rgb(211, 179, 36)">
          <mat-panel-title>
            Food Medicine Interaction
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <p>{{ drugData.drug_information.food_int_details }}</p>
          <mat-list-item *ngIf="!drugData.drug_information.food_int_details" style="color:red">No Food Interaction found
          </mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">

        <mat-expansion-panel-header style="background-color: rgb(71, 37, 223);">
          Alcohol Medicine Interaction
        </mat-expansion-panel-header>

        <mat-list>
          <p>{{ drugData.drug_information.alcohol_int_deatils }}</p>
          <mat-list-item *ngIf="!drugData.drug_information.alcohol_int_deatils" style="color:red">No Alcohol Interaction
            found
          </mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">

        <mat-expansion-panel-header style="background-color: rgb(223, 37, 68);">
          Caffeine Medicine Interaction
        </mat-expansion-panel-header>

        <mat-list>
          <p>{{ drugData.drug_information.caffeine_int_details }}</p>
          <mat-list-item *ngIf="!drugData.drug_information.caffeine_int_details" style="color:red">No Caffeine
            Interaction found
          </mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>