.title{
    color: black;
    margin-top: 20px;
}

.card-body{
    margin: auto;
}

.register-body{
    border-radius: 20px;
    padding: 25px;
    background-color: #DEDEDE;
    /* height: 580px; */
    /* background-color: white; */
}

.placeholder {
    color: white;
}
mat-form-field{
    width: -webkit-fill-available;
}

.profile-block{
    border-radius: 10px;
    background: #DEDEDE;
    padding: 15px !important;
    margin: auto;
    margin-bottom: 20px;
}

.patient-img{
    max-width: 100%;
    border-radius: 50%;
    padding-bottom: 20px;
    margin-bottom: 5px;
    /* width: 200px;
    height: 200px; */
}

.patient-profile{
    justify-content: center;
    display: flex;
}

.profilePic{
    width: -webkit-fill-available;
}

.image{
    font-size: smaller;
    margin-bottom: 10px;
}

.profile-completion{
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin: auto;
}

button{
    float: right;
    margin: 10px;
}

@media(max-width: 767px){
    .title{
        text-align: center;
    }

    .card-body{
        padding: 0;
    }
}