<div class="container-fluid">
  <div>
    <h3 class="title">General Patient Information</h3>
    <hr>
  </div>
  <div class="card-body">
    <form [formGroup]="patientForm">
      <div class="col-md-12 row" style="margin:0px;">
        <div class="col-md-9 register-body">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input">
                <input matInput placeholder="First Name (الاسم الاول)" formControlName="fname">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Last Name (الكنية)" formControlName="lname">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <mat-select placeholder="Gender (جنس)" formControlName="gender">
                  <mat-option *ngFor="let gender of gender" [value]="gender.value">{{gender.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Weight(وزن) [Kg]" formControlName="weight" type="number">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Height( ارتفاع) [m]" formControlName="height" type="number">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Marital Status ( الحالة الزوجية )" formControlName="marital_status">
                  <mat-option *ngFor="let marital of marital" [value]="marital.value">{{marital.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date of Birth ( تاريخ الولادة:)"
                  formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="address">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mailing Address" formControlName="mailing_address">
          </mat-form-field>
          <label>Is Billing address different than Mailing address?&nbsp;</label>
          <mat-radio-group (change)="ChangBillingAddress()" formControlName="billAddChange">
            <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <input matInput placeholder="Billing Address" [readonly]="!billingAdd" formControlName="biling_address">
          </mat-form-field>
          <div class="button">
            <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile-block col-md-10">
            <img [src]="imgURL" id="profile" class="patient-img" *ngIf="imgURL">
            <div class="image">
              <input class="profilePic" type="file" name="pic" accept="image/*" formControlName="profileImg"
                (change)=newProfile($event)>
              <h6 style="margin-top:10px;">Upload Picture</h6>
              <p>( صورة المريض )</p>
            </div>
          </div>
          <div class="col-md-12 profile-completion">
            <h5>Profile Completion</h5>
            <p style="font-size: smaller;">( قياس اكتمال الملف الشخصي )</p>
            <circle-progress [percent]="profile_comp" [radius]="60" title={{profile_comp}}% [outerStrokeWidth]="15"
              [innerStrokeWidth]="15" [outerStrokeColor]="'green'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
              [animationDuration]="500" space="-15" outerStrokeLinecap="square" titleFontSize="40">
            </circle-progress>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>