<div class="wrapper">
  <div class="drug-search-body col-md-5">
    <div class="search-title">
      <h4>Search for Medicine Information</h4>
      <p>البحث عن المعلومات الطبية على الدواء</p>
    </div>
    <div class="search-body">
      <div class="form-group">
        <label>Look for Medicine Name (ابحث عن اسم الدواء)</label>
        <input type="text" class="form-control" placeholder="Search Medicine" (keyup)="onSearch()"
          [(ngModel)]="searchInput" required>
      </div>
      <div class="form-group">
        <label>Number of Medicine to choose from (اختيار اسم الدواء) <span id="number_of_drugs"
            class="badge badge-pill badge-success">{{
                dataLength }}</span></label>
        <mat-form-field style="display: block;">
          <mat-select placeholder="Medicine" [(ngModel)]="selectedDrug">
            <mat-option *ngFor="let data of searchData" value="{{data._id }}">( ndc: {{data.ndc}} )
              {{ data.brand_name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group search-btn">
        <button class="btn btn-success" (click)="onSearchClick()">Search (بحث)</button>
      </div>
    </div>
  </div>
  <div class="col-md-6 drug-info-div" *ngIf="searchSubmit">
    <mat-accordion>

      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header style="background-color:rgb(128, 128, 194)">
          <mat-panel-title>
            Medicine Basic Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="drug-data">
          <mat-list-item>Brand Name : {{ drugData.drug_information.brand_name }} </mat-list-item>
          <mat-list-item>Generic : {{ drugData.drug_information.generic_name }}</mat-list-item>
          <mat-list-item>NDC : {{ drugData.drug_information.ndc }}</mat-list-item>
          <mat-list-item>Active substance(s) and dosage(s) :</mat-list-item>
          <mat-list class="substances">
            <mat-list-item
              *ngFor="let substances of drugData.drug_information.active_ingredients_with_dose; let last=last">
              {{ substances }}
              <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
          <mat-list-item>Administration route(s) : {{ drugData.drug_information.route }}</mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">

        <mat-expansion-panel-header style="background-color: rgb(71, 37, 223);">
          Substitutes for Medicine
        </mat-expansion-panel-header>
        <mat-list class="subs">
          <mat-list-item *ngFor="let sub of drugData.all_subtitute; let last=last">( Ndc: {{sub.ndc}} )
            {{ sub.brand_name }}
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">

        <mat-expansion-panel-header style="background-color: rgb(15, 119, 11);">
          Manufacturers
        </mat-expansion-panel-header>
        <mat-list class="subs">
          <mat-list-item>{{ drugData.drug_information.manufacterer }}</mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header style="background-color: rgb(236, 138, 81);">
          Pharmacological Classes
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item *ngFor="let classes of drugData.drug_information.classes; let last=last"
            (click)="getDrug(classes)">
            <a>{{ classes }}</a>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-nav-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>