<div class="acc-wrapper">
  <h3>Your Profile (ملفك الشخص ): Dr. Adam M (آدم م )</h3>
  <mat-card>
    <div class="row">
      <div class="col-md-3">
        <div class="profile-block">
          <img src="../../../../assets/images/doctor.png" id="profile" class="patient-img">
        </div>
      </div>
      <div class="col-md-9">
        <ul style="list-style-type:none;">
          <li><b>First Name (الاسم الاول) :</b> Adam (آدم)</li>
          <li><b>Last name (الكنية) :</b> M (م)</li>
          <li><b>Phone number(رقم الهاتف) [Tel.]:</b> 9874563210</li>
          <li><b>Email address (عنوان بريد الكتروني) :</b> Adam@test.com</li>
        </ul>
      </div>
    </div>
  </mat-card>
</div>